@import "~sass-rem";
@import "../../../style/utils/_variables.scss";

.input-box {
  position: relative;
  margin-right: rem(5px);

  &--on {
    .input-box__input {
      border-radius: rem(3px) rem(3px) 0 0;
    }

    .options-list {
      margin-top: 0;
      opacity: 1;
      visibility: visible;
      z-index: 20;
    }

    .icon {
      fill: $color02;
    }
  }

  &:hover {
    .input-box__input {
      border-color: $color02;
    }
  }

  .icon {
    position: absolute;
    top: 50%;
    left: rem(20px);
    transform: translateY(-50%);

    &--idea {
      left: rem(15px);
    }
  }

  &__input {
    background-color: white;
    border-radius: rem(3px);
    border: rem(2px) solid transparent;
    color: #21313e;
    font-size: rem(14px);
    font-weight: 400;
    flex: 0 1 rem(270px);
    letter-spacing: rem(.5px);
    line-height: rem(21px);
    height: rem(55px);
    outline: none;
    padding: rem(15px) rem(16px) rem(15px) rem(45px);
    transition: all 150ms ease-in-out;
    width: rem(270px);

    &--area {
      flex: 0 1 rem(195px);
      width: rem(195px);
    }

    &:focus {
      border-color: $color02;
    }
  }
}

.options-list {
  background-color: white;
  border-radius: 0 0 rem(3px) rem(3px);
  box-shadow: 0 0 rem(5px) 0 rgba(0, 0, 0, .2);
  position: absolute;
  margin-top: rem(-10px);
  top: 100%;
  left: 0;
  width: 100%;
  transition: all 150ms ease-in-out;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  z-index: -1;

  &__item {
    cursor: pointer;
    padding: rem(12px) rem(30px);
    transition: all 150ms ease-in-out;


    &:hover {
      background-color: $color02;
      color: white;
    }

    &--off {
      display: none;
    }
  }
}
