@import "~sass-rem";
@import "../../../style/utils/_variables.scss";

.copyright {
  color: #aaa;
  display: inline-block;
  font-size: rem(12px);
  font-weight: 400;
  flex: 0 0 auto;
  letter-spacing: rem(.5);
}
