@import "~sass-rem";
@import "../../../../style/utils/_variables.scss";

.map {
  margin-bottom: rem(35px);

  @media(min-width: $media-xl) {
    margin-bottom: rem(65px);
  }

  &.section--active {
    .map__info,
    .map__button,
    .map__map {
      opacity: 1;
      visibility: visible;
    }

    .map__info {
      left: 0;
    }

    .map__button {
      right: 0;
    }

    .map__map {
      bottom: 0;
    }
  }


  &__container {
    padding-top: rem(30px);

    @media(min-width: $media-xl) {
      padding-top: rem(60px);
    }

  }

  &__title {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: rem(40px);

    @media(orientation: landscape) and (min-width: $media-xs) {
      justify-content: space-between;
    }

    @media(min-width: $media-xl) {
      justify-content: space-between;
      margin-bottom: rem(60px);
    }
  }

  &__info {
    flex: 0 0 auto;
    position: relative;
    opacity: 0;
    visibility: hidden;
    left: rem(-150px);
    transition: all 1.2s ease-in-out;
  }

  &__subtitle {
    color: $color01;
    display: block;
    font-size: rem(22px);
    font-weight: 700;
    margin-bottom: rem(10px);
    text-align: center;

    @media(orientation: landscape) and (min-width: $media-xs) {
      text-align: left;
    }

    @media(min-width: $media-xl) {
      font-size: rem(26px);
      letter-spacing: rem(.8px);
      margin-bottom: rem(20px);
    }
  }

  &__map {
    margin: 0 rem(-25px);
    position: relative;
    opacity: 0;
    visibility: hidden;
    bottom: rem(-100px);
    transition: all 1.5s ease-in-out;

    @media(min-width: $media-xl) {
      margin: 0;
    }
    iframe {
      height: rem(300px);
      width: 100%;

      @media(orientation: landscape) and (min-width: $media-xs) {
        height: rem(250px);
      }

      @media(min-width: $media-lg) {
        height: rem(350px);
      }
    }
  }

  &__button {
    background-color: $color01;
    border: 0 none;
    border-radius: rem(3px);
    color: white;
    cursor: pointer;
    font-size: rem(14px);
    font-weight: 700;
    height: rem(50px);
    letter-spacing: rem(.3px);
    outline: none;
    position: relative;
    opacity: 0;
    visibility: hidden;
    right: rem(-150px);
    text-transform: uppercase;
    transition: all 1.2s ease-in-out, color 150ms ease-in-out;
    width: rem(190px);

    &:hover {
      color: $color02;
    }
  }
}

.selected-list {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: rem(20px);

  @media(orientation: landscape) and (min-width: $media-xs) {
    justify-content: flex-start;
    margin-bottom: 0;
  }

  @media(min-width: $media-xl) {
    justify-content: flex-start;
    margin-bottom: 0;
  }

  &__item {
    color: #a1abb1;
    font-size: rem(12px);
    font-weight: 500;
    letter-spacing: rem(.2px);

    @media(min-width: $media-xl) {
      font-size: rem(15px);
      letter-spacing: rem(.5px);
    }

    &:first-child:before {
      display: none;
    }

    &:before {
      content: '•';
      margin: 0 rem(5px);

      @media(min-width: $media-xl) {
        margin: 0 rem(15px);
      }

    }
  }
}
