body {
  background-color: #f7f7f7;
  font: 400 100%/1 'Barlow', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

svg {
  height: rem(32px);
  width: rem(32px);
}

.container {
  margin: 0 auto;
  max-width: rem(1152px);
  width: calc(100% - 50px)
}

body {
  &.menu--on {
    overflow: hidden;
  }
}

::-moz-selection {
  background-color: rgba(0, 237, 201, .8);
  color: $color01;
}

::selection {
  background-color: rgba(0, 237, 201, .8);
  color: $color01;
}
